<div class="main">
  <button mat-button cdkFocusInitial (click)="print('open')">Open CV</button>
  <button mat-button cdkFocusInitial (click)="print('download')">Download CV</button>
</div>

<div id="cv" class="cv"></div>
